/* Swiper Tv Cards */

.sidebar-slide {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding: 30px;
  background-image: linear-gradient(213deg, #c9da31, #28b751 86%);

  position: relative;
}

.sidebar-slide .top-title {
  font-size: 14px;
  color: #fff;
  font-weight: 900;
  opacity: 0.6;

  margin-bottom: 5px;
}

.sidebar-slide .title {
  font-size: 22px;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.sidebar-slide a {
  opacity: 0.9;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-slide::before {
  content: "";
  position: absolute;
  bottom: -14px;
  right: 0;
  width: 200px;
  height: 325px;
  background-image: url("../images/tv-cards/card-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.sidebar-slide img {
  border: 0;
  position: absolute;

  width: 160px;

  top: 25%;
  right: 0;
}

.main-content .content-inner {
  display: flex;
  align-items: start;
  gap: 50px;
}

.main-content .section-title {
  margin: 0 0 40px 0 !important;
}

.main-content .content-inner .content img {
  width: 100%;
  border-radius: 20px;
}

.main-content .content .body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #444;
  letter-spacing: 1px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar .hot_news__list {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
}

.sidebar .hot_news__list .news-box {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.sidebar .hot_news__list .news-box:nth-child(2) {
  border: none !important;
}

.sidebar .hot_news__list .title {
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .main-content .content-inner {
    flex-direction: column-reverse;
  }

  .main-content .sidebar .sidebar-slide {
    display: none !important;
  }
}
