.content-inner iframe {
  background-color: #fff;
  margin-bottom: 40px;
  border-radius: 20px;
}

.content-inner .hot-news__list {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  margin-top: 60px;
}

.hot-news__list .news-box {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.1);
  position: relative;
}

.hot-news__list .news-box .body {
  padding: 20px;
}

.news-box .body .title {
  font-size: 16px;
}

.news-box a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  iframe {
    height: 600px !important;
  }
}

@media screen and (max-width: 992px) {
  iframe {
    height: 500px !important;
  }
}

@media screen and (max-width: 768px) {
  iframe {
    height: 400px !important;
  }
}

@media screen and (max-width: 576px) {
  iframe {
    height: 320px !important;
  }
}
