*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f8fa;
}

img {
  max-width: 100%;
  display: inline-block;
}

.main-content {
  min-height: 40vh;
  margin: 60px 0;
  padding: 40px 0;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* Header */

.header {
  position: relative;
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 150px;

  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px 0;
  padding-right: 20px;

  overflow: hidden;
}

.header-inner .logo {
  padding: 10px;
  border-radius: 20px;
  background-color: #06c771;

  position: relative;
}

.header-menu .close-header_menu__bar {
  display: none;
}

.header-inner .logo::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 100px;
  transform: rotate(-45deg);
  left: 10px;
  top: 0;
  background-color: #06c771;
}

.header-inner .logo img {
  width: 100%;
  height: 60px;
  z-index: 10 !important;
  position: relative;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-menu a {
  font-weight: 600;
  color: #333;

  transition: color 0.3s ease;
}

.header-menu .header-menu_item:hover a {
  color: #06c771;
}

/* Language Switch Box */

.lang-switch_box {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #ddd;
  padding: 10px;

  transition: color 0.3s;
}

.lang-switch_box:hover {
  color: #06c771;
}

.lang-switch_box .lang-switch__drop-down {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  left: 100%;
  top: -50%;

  border-radius: 6px;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2px 0;

  transform: translate(-100%, 15%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
}

.lang-switch_box:hover .lang-switch__drop-down {
  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transform: translate(0, 15%);
}

.lang-switch__drop-down li {
  padding: 5px 8px;
}

.lang-switch__drop-down li a {
  color: #333;
  transition: color 0.4s;
}

.lang-switch__drop-down li:hover a {
  color: #06c771;
}

/* Header Social links */
.header .social-links {
  display: flex;
  gap: 5px;

  background-color: #e4e6eb;
  padding: 5px 10px;
  border-radius: 20px;

  transform: translateY(100%);

  position: absolute;
  top: -5%;
  right: 15%;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.header .social-links li {
  margin-right: 10px;
  margin: 0 auto;
}

.header .social-links li .social-box {
  width: 40px; /* Initial width */
  height: 40px;
  text-align: center;
  background-color: #fff; /* Facebook color */
  text-decoration: none;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  transition: width 0.3s, border-radius 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header .social-links li .social-box:hover {
  width: 110px; /* Increased width on hover */
  border-radius: 8px;
}

.header .social-links li .social-box .icon {
  font-size: 20px;
  line-height: 1;
}

.header .social-links li .social-box .title {
  opacity: 0;
  width: 0;
  transition: opacity 0.3s, width 0.3s ease;
}

.header .social-links li .social-box:hover .title {
  opacity: 1;
  width: 60%;
  margin-left: 5px;
}

.header .social-links li:first-child a {
  color: #3b5998 !important;
}
.header .social-links li:nth-child(2) a {
  color: #e4405f !important;
}
.header .social-links li:nth-child(3) a {
  color: #0088cc !important;
}

/* Header Bar */
.header-bar {
  background-color: transparent;
  border: none;
  color: #06c771;
  font-size: 34px;
  display: none;
  order: 2;
}

/* Sections */

/* Section top - Title */

.section-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;
}

.section-title .desc {
  color: #25353699;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.section-title .title {
  font-size: 36px;
  font-weight: 900;
}

/* Section Live */

.section-live {
  margin-top: 80px;
}

.section-live iframe {
  width: 100%;
  height: 700px;
  border-radius: 20px;
}

/* Section Previews | Tv Projects */

.section-previews {
  margin: 40px 0;
  padding: 60px 0;
  background-color: #00000009;
}

.section-previews .section-inner {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section-previews .swiper-tvProjects {
  width: 80%;
  border-radius: 20px;
  position: relative;
}

.section-previews .tv-cards {
  width: 20%;
}

.section-previews .swiper-tvProjects .swiper-slide {
  width: 100% !important;
  height: 400px !important;
}

.section-previews .swiper-slide img {
  width: 350px;
  position: absolute;
  top: 10%;
  right: 60px;
  border: 6px solid #ffffff21;
  border-radius: 20px;
}

.section-previews .swiper-tvProjects .swiper-slide .slide-bg {
  width: 100%;
  height: 400px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  filter: blur(10px);
}

.section-previews .swiper-tvProjects .slide-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Tv Projects Buttons */

.section-previews .swiper-tvProjects .swiper-button-next::after,
.section-previews .swiper-tvProjects .swiper-button-prev::after {
  display: none;
}

.section-previews .slide-btn {
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  width: 50px;
  height: 45px;
  border-radius: 20px;
  cursor: pointer;

  position: absolute;
  top: 70%;
  right: 60px;

  transition: background-color 0.4s, color 0.4s ease;
}

.section-previews .slide-btn:hover {
  background-color: #fff;
  color: #06c771;
}

.section-previews .swiper-tvProjects .swiper-button-prev {
  left: 100%;
  transform: translateX(-340%);
}

/* =========================================== */

/* Watch Button */

.section-previews .watch-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(65%, -50%);

  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;

  font-weight: bold;
  font-size: 22px;

  transition: background-color 0.4s, color 0.4s ease;
}

.section-previews .watch-btn:hover {
  background-color: #fff;
  color: #06c771;
}

/* ====================================== */

/* Swiper Tv Cards */

.section-previews .tv-cards .swiper-slide {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  padding: 30px;

  position: relative;
}

.section-previews .tv-cards .swiper-slide .top-title {
  font-size: 14px;
  color: #fff;
  font-weight: 900;
  opacity: 0.6;

  margin-bottom: 5px;
}

.section-previews .tv-cards .swiper-slide .title {
  font-size: 22px;
  position: relative;
  z-index: 1;
  margin-top: 10px;
}

.section-previews .tv-cards .swiper-slide a {
  opacity: 0.9;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.section-previews .tv-cards .swiper-slide::before {
  content: "";
  position: absolute;
  bottom: -14px;
  right: 0;
  width: 200px;
  height: 325px;
  background-image: url("../images/tv-cards/card-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.section-previews .tv-cards .swiper-slide img {
  border: 0;
  position: absolute;

  width: 160px;

  top: 25%;
  right: 0;
}

.section-previews .tv-cards .swiper-slide:first-child {
  background-image: linear-gradient(213deg, #fd7001, #e85a22 86%);
}

.section-previews .tv-cards .swiper-slide:nth-child(2) {
  background-image: linear-gradient(213deg, #c9da31, #28b751 86%);
}

/* ========================================== */

/* Section News */

.section-news {
  margin: 80px 0;
  background-color: #fff;
}

.section-news .section-title {
  position: relative;
}

.section-news .section-title .title_link {
  color: #06c771;
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  gap: 15px;

  transition: color 0.3s;
}

.section-news .section-inner .title_link:hover {
  color: #0088cc;
  text-decoration: underline;
}

/* News Grid-box */

.section-news .news-grid_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.section-news .news-item_box {
  font-weight: 900;
  border-radius: 20px;
  overflow: hidden;

  position: relative;

  transition: box-shadow 0.4s;
}

.news-item_box .news-item_link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-item_box:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.news-item_box .news-item_timeBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.news-item_timeBox .left {
  font-size: 36px;
  font-weight: 900;
}

.news-item_timeBox .right {
  font-size: 14px;
}

.news-item_timeBox .left,
.news-item_timeBox .month {
  opacity: 0.7;
}

/* 1st News item */
.news-item_box:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.news-item_box:first-child .news-item_timeBox {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 20px;
  border-radius: 10px 0 10px 0;
}

.news-item_box:first-child .news-item_timeBox .time {
  opacity: 0.4;
}

.news-item_box:first-child:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.news-item_box:first-child .news-item_inner {
  height: 100%;
  color: #fff;
  z-index: 99;
}

.news-item_box:first-child .news_body {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  padding: 30px;
}

.news-item_box:first-child .news__title {
  font-size: 34px;
  font-weight: 900;

  transition: text-decoration-style 0.4s;
}

.news-item_box:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);

  transition: background-color 0.4s;
}

.news-item_box:first-child img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 2nd New item */
.news-item_box:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
  border: 1px solid #ddd;
}

.news-item_box:nth-child(2) .news-item_inner {
  display: flex;
}

.news-item_box:nth-child(2) .news_body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px !important;
}

.news-item_box:nth-child(2) img {
  width: 270px;
  height: 180px;
}

/* 3rd and 4th items */

.news-item_box:nth-child(3),
.news-item_box:nth-child(4) {
  background-color: #edeff2;
  padding: 20px;
}

.news-item_box:nth-child(3) .news-item_inner,
.news-item_box:nth-child(4) .news-item_inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.news-item_box:nth-child(3) .news-item_timeBox,
.news-item_box:nth-child(4) .news-item_timeBox {
  position: absolute;

  top: 0;
  right: 0;
}

.news-item_box:nth-child(3) img,
.news-item_box:nth-child(4) img {
  width: 100px;
  height: 80px;
  border-radius: 20px;
}

/* ===========================--- */
.news-item_box:nth-child(2) .news-item_timeBox .left,
.news-item_box:nth-child(2) .news-item_timeBox .right .month,
.news-item_box:nth-child(3) .news-item_timeBox .left,
.news-item_box:nth-child(3) .news-item_timeBox .right .month,
.news-item_box:nth-child(4) .news-item_timeBox .left,
.news-item_box:nth-child(4) .news-item_timeBox .right .month {
  opacity: 0.3;
}

.news-item_box:nth-child(2) .time,
.news-item_box:nth-child(3) .time,
.news-item_box:nth-child(4) .time {
  opacity: 0.6;
}

/* Section Tv projects */

.section-tv_projects {
  margin: 60px 0;
}

.section-tv_projects .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-tv_projects .swiper-slide img {
  border-radius: 20px;
}

/* Swiper Buttons */
.section-tv_projects .swiper-button-next::after,
.section-tv_projects .swiper-button-prev::after {
  display: none;
}

.section-tv_projects .swiper-wrapper {
  padding-bottom: 120px;
}

.section-tv_projects .swiper-button-next,
.section-tv_projects .swiper-button-prev {
  color: #999;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #999;
  padding: 0px 25px;
}

.section-tv_projects .swiper-button-next {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(300%);

  transition: color 0.4s, border-color 0.4s;
}

.section-tv_projects .swiper-button-prev {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(180%);

  transition: color 0.4s, border-color 0.4s;
}

.section-tv_projects .show-more {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-75%, -3px);

  color: #999;
  border: 2px solid #999;
  padding: 6px;
  width: 300px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  border-radius: 20px;

  transition: color 0.4s, border-color 0.4s;
}

.section-tv_projects .show-more:hover,
.section-tv_projects .swiper-button-next:hover,
.section-tv_projects .swiper-button-prev:hover {
  color: #06c771;
  border-color: #06c771;
}

/* Section Report */

.section-report {
  margin: 30px 0;
  padding: 60px 0;
}

.section-report .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin-bottom: 40px;
}

.section-report .top .title {
  font-size: 30px;
  font-weight: 400;
  color: #555;
}

.section-report .top .desc {
  font-size: 22px;
  color: #666;
  text-align: center;
}

.section-report .report-grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 45px;
  row-gap: 80px;

  margin-top: 80px;
}

.section-report .report-box {
  display: flex;
  gap: 25px;

  transition: transform 0.3s;
}

.section-report .report-box .count {
  font-size: 85px;
  font-weight: 900;
  color: #444;
}

.report-box:hover {
  transform: translateY(-10px);
}

.section-report .report-box .desc {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.section-report .report-box .body {
  width: 70%;
}

/* Footer */

.footer {
  background-color: #fff;
}

.footer .top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.footer .top img {
  height: 90px;
}

.footer .top a {
  color: #333;
  font-weight: 900;
  font-size: 22px;

  transition: color 0.4s;
}

.footer .top a:hover {
  color: #06c771;
}

.footer .desc {
  color: rgba(37, 53, 54, 0.6);
}

.footer {
  padding: 40px 0;
}
